@inherits LayoutComponentBase
<div class="page">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="title" style="color: #ff6600; font-weight: bold; font-size: 1.2rem;"> Avis Module.name</div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
